@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .32rem;
  font-style: normal;
  font-weight: normal;
}

ul, li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none;
}

input, button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
}

$num: 100%;
@mixin nums($w:100%,$h:auto) {
  width: $w;
  height: $h;
}

@mixin flex($j:center) {
  display: flex;
  justify-content: $j;
  align-items: center;
}

@mixin pos($p:relative) {
  position: $p;
}

$bg: background;
%text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%full {
  width: $num;
  height: $num;
}

html, body, .wrap {
  @extend %full;
}

.wrap{
  display:-webkit-flex;
  -webkit-flex-direction:column;
  overflow:hidden;
}
.tab{
  @include nums($h:1.2rem);
  #{$bg}:pink;
}
.quan{
  -webkit-flex:1;
  overflow-y:scroll;
  @include nums($h:100%);
  padding: .2rem;
}
.content{
  @include nums($h:3rem);
  border-radius:20px;
  box-shadow: 2px 3px 2px #ccc;
  margin-bottom:.3rem;
    .top{
      @include pos;
      @include nums($h:60%);
      border-top-left-radius:20px;
      border-top-right-radius:20px;
        span{
          font-size: .42rem;
          color:#fff;
            b{
              font-size:1.2rem;
              vertical-align: top;
            }
        }
        i{
          @include pos(absolute);
          bottom:.2rem;
          right:.2rem;
          color:#fff;
          font-size:.8rem;
        }
    }
    .bottom{
      @include nums($h:40%);
      padding:.2rem .4rem;
      border-top:4px dotted #fff;
        p{
          font-size:.24rem;
          line-height:1.7;
        }
        .green{
          color:green;
        }
    }
}